$primary-color = #334a5e
$text-highlight-color = #334a5e
$accent-color = #cc4a1a
$base-font-size = 1.68rem
$font-size-multiplier = 1.5
$max-for-small = 50rem

@import './loader.styl'
@import './projects.styl'

body
  color rgba(0,0,0,.87)
  font-family 'Roboto', sans-serif
  padding 0
  margin 0

main
  padding-top 1rem

p
  font-size $base-font-size
  font-weight 300
  line-height 1.5em
  margin 0.5em 0
  @media screen and (max-width: $max-for-small)  {
    font-size ($base-font-size / $font-size-multiplier)
  }

a
  color $accent-color

h1, h2, h3
  font-weight 400
  color: $text-highlight-color
  margin-bottom 0

// Font-scaling inspired from: https://www.modularscale.com/?1.68&rem&1.5
h1
  font-size $base-font-size * $font-size-multiplier * $font-size-multiplier * $font-size-multiplier
  @media screen and (max-width: $max-for-small)  {
    font-size $base-font-size * $font-size-multiplier * $font-size-multiplier
  }

h2
  font-size $base-font-size * $font-size-multiplier * $font-size-multiplier
  @media screen and (max-width: $max-for-small)  {
    font-size $base-font-size * $font-size-multiplier
  }
h3
  font-size $base-font-size * $font-size-multiplier
  @media screen and (max-width: $max-for-small)  {
    font-size $base-font-size
  }

hr
  margin-top 3rem
  border 0
  height 1px
  background #e0e0e0

.wrapper
  width 70%
  margin 0 auto
  max-width 70rem
  @media screen and (max-width: $max-for-small)  {
    width 90%
  }

// Page headline
.page-headline
  margin-bottom 3rem
  & h1
    margin 0
  p
    font-weight 400
    margin 0
    line-height 1em

// Personal description
.portrait
  width 40%
  float right
  @media screen and (max-width: $max-for-small)  {
    width 100%
    margin 1rem auto
  }
  img
    width 100%
    height auto
    border-radius 1%
    box-shadow 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)

.social-icons
  display flex
  flex-direction row
  padding 0
  li
    list-style-type none
    margin-right 1rem
    i
      font-size $base-font-size

// Footer
footer
  background-color $primary-color
  color white
  padding 0.5rem
  padding-top 2rem
  margin-top 4rem
  p
    font-size ($base-font-size / $font-size-multiplier / $font-size-multiplier)
    line-height 1em
    text-align center
  a
    color white