@import "variables"

@font-face
  font-family 'personalPage'
  src url(icomoon-font-path + '/personalPage.ttf?twq843') format('truetype'), url(icomoon-font-path + '/personalPage.woff?twq843') format('woff'), url(icomoon-font-path + '/personalPage.svg?twq843#personalPage') format('svg')
  font-weight normal
  font-style normal

.icon
  font-family 'personalPage' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-flickr
  &:before
    content icon-flickr
.icon-mode_edit
  &:before
    content icon-mode_edit
.icon-event_note
  &:before
    content icon-event_note
.icon-music_note
  &:before
    content icon-music_note
.icon-speaker_notes
  &:before
    content icon-speaker_notes
.icon-envelope-o
  &:before
    content icon-envelope-o
.icon-camera
  &:before
    content icon-camera
.icon-image
  &:before
    content icon-image
.icon-photo
  &:before
    content icon-photo
.icon-picture-o
  &:before
    content icon-picture-o
.icon-twitter
  &:before
    content icon-twitter
.icon-github
  &:before
    content icon-github
.icon-linkedin
  &:before
    content icon-linkedin
.icon-xing
  &:before
    content icon-xing
.icon-youtube-play
  &:before
    content icon-youtube-play
.icon-instagram
  &:before
    content icon-instagram
.icon-paper-plane
  &:before
    content icon-paper-plane
.icon-send
  &:before
    content icon-send
.icon-paper-plane-o
  &:before
    content icon-paper-plane-o
.icon-send-o
  &:before
    content icon-send-o
.icon-facebook
  &:before
    content icon-facebook

