icomoon-font-path ?= "fonts"

icon-flickr = "\e900"
icon-mode_edit = "\e254"
icon-event_note = "\e616"
icon-music_note = "\e405"
icon-speaker_notes = "\e8cd"
icon-envelope-o = "\f003"
icon-camera = "\f030"
icon-image = "\f03e"
icon-photo = "\f03e"
icon-picture-o = "\f03e"
icon-twitter = "\f099"
icon-github = "\f09b"
icon-linkedin = "\f0e1"
icon-xing = "\f168"
icon-youtube-play = "\f16a"
icon-instagram = "\f16d"
icon-paper-plane = "\f1d8"
icon-send = "\f1d8"
icon-paper-plane-o = "\f1d9"
icon-send-o = "\f1d9"
icon-facebook = "\e901"

